**/bin
**/tmp
.modcache

**/.vscode
**/__debug*
**/.DS_Store

/awasm

# monitoring
logs/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of terraform
*.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.terraform.lock.hcl
